server:
  port: 8083


spring:
  application:
    name: master-data-service

  web:
    resources:
      add-mappings: false
  
  # Config Server import (Spring Boot 3.x)
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}"
  
  cloud:
    config:
      uri: ${CONFIG_SERVER_URL:http://localhost:8888}
      fail-fast: false
      retry:
        initial-interval: 1000
        max-attempts: 6
        max-interval: 2000
        multiplier: 1.1
      profile: ${SPRING_PROFILES_ACTIVE:default}
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/stock_monitoring}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true
          default_schema: masterdata
  
  # Redis configuration
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 2s

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,refresh
  endpoint:
    health:
      show-details: always
    refresh:
      enabled: true

logging:
  level:
    root: INFO
    com.shubham.stockmonitoring.masterdata: INFO
    org.springframework.web: WARN
    org.hibernate: WARN
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(%5p) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"


finnhub:
  api:
    url: ${FINHUB_API_URL:https://finnhub.io/api/v1}
    token: ${FINHUB_API_TOKEN:d4dikc1r01qmhtc4jnn0d4dikc1r01qmhtc4jnng}
    # @TODO: Replace with your own token